.consultas-pedidos{
  .titulo{
    font-size: 14px;
    color: white;
    font-family: $tipo-letra-menu;
    text-align: center;
    position: relative;
    top: 4px;
  }
  width: 210px;
  height: 130px;
  background: #494947;
  
  
}