/* INDEX */

/* CONSULTAS */
.consultas{
    display: block;
    .consultas-pedidos{
        margin: 0 auto;
    color: white;
    
  .titulo{
    font-size: 14px;
    font-family: $tipo-letra-menu;
    text-align: center;
    position: relative;
    top: 4px;
    }ul{
        padding: 0;
        margin: 0;
    li{
        list-style: none;
        width: 90%;
        display: block;
        float: right;
        a{
            font-family: $tipo-letra-menu;
            font-size: 12px;
        color: white;
            &:link{
                text-decoration: none;
            }
        }
    }
}
  width: 210px;
  height: 130px;
  background: #494947;
}   
}


.sec-consul{
  text-align: center;
  img{
    margin-top: -52px;
  }
  
}
figure{
  margin: 0 auto;
  width: 940px;
  img{
    
  }
}
/* PAGINA TRAMITE DOCUMENTARIO */
.content{
    top: 0;
    margin: 10px 0 0 0;
  background: white;
  height: auto;
    max-height: 520px;
  figure{
    margin-top: 10px;
      width: 100%;
      max-width: 940px;
      height: auto;
    img{
    width: 100%;
    }
  }
  h1{
    color: $color-letra-logo;
    font-family: $fuente-logo;
    font-size: 18px;
      margin-left: 20px;
  }
    .formulario{
        .tipo{
            display: block;
            text-align: center;
            //margin-left: 40px;
        }
        .anio{
           display: block;
            text-align: center;
            //margin-left: 40px;
        }
        .nro{
            display: block;
            text-align: center;
            //margin-left: 40px;
        }
       
    form{
       
        h3{
            font-family: $fuente-logo;
            display: inline-block;
            
            font-size: 18px;
            padding: 0;
        }
        select{
            background: transparent;
           border: 1px solid $fondo-hover-btn;
         
           font-size: 14px;
           height: 30px;
           padding: 5px;
           width: 180px;
            margin-left: 20px;
            &:focus{
                outline-color: none;
            }
        }
        input{
            margin-left: 10px;
            border: none;
            border-bottom: 2px solid red;
            width: 150px;
            text-align: center;
            
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
        .boton{
            width: 120px;
            background: $fondo-btn;
            font-family: $fuente-logo;
            font-weight: 300;
            font-size: 16px;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            display: block;
            margin: 30px auto 20px auto;
            &:hover{
              background: $fondo-hover-btn;  
            }
        }
    }
}
}
.busqueda{
    margin: 0;
    padding: 0;
    height: 300px;
    background: green;
   h1{
       margin-top: 0;
       background: red;
    } 
}

/* EDUCACION */
.educacion{
    margin: 0 auto;
     width: 210px;
  height: 130px;
  background: #494947;
    h1{
    font-size: 14px;
    font-family: $tipo-letra-menu;
    color: white;
    text-align: center;
    position: relative;
    top: 4px; 
    }
    ul{
        padding: 0;
        margin: 0;
    li{
        list-style: none;
        width: 90%;
        display: block;
        float: right;
        a{
            font-family: $tipo-letra-menu;
            font-size: 12px;
        color: white;
            &:link{
                text-decoration: none;
            }
        }
    }
}
}
