.consultas-pedidos{
  .titulo{
    font-size: 14px;
    color: white;
    font-family: $tipo-letra-menu;
    text-align: center;
    position: relative;
    top: 4px;
  }
  width: 210px;
  height: 130px;
  background: #494947;
}
.sec-consul{
  text-align: center;
  img{
    margin-top: -52px;
  }
  
}
figure{
  margin: 0 auto;
  width: 940px;
  img{
    
  }
}
/* PAGINA TRAMITE DOCUMENTARIO */
.content{
    top: 0;
    margin: 10px 0;
  background: white;
  height: auto;
  figure{
    margin-top: 10px;
      width: 100%;
      max-width: 940px;
      height: auto;
    img{
    width: 100%;
    }
  }
  h1{
    color: $color-letra-logo;
    font-family: $fuente-logo;
    font-size: 18px;
  }
    .formulario{
        .tipo{
            margin-left: 40px;
        }
        .anio{
          margin-left: 40px;
        }
        .nro{
            margin-left: 40px;
        }
       
    form{
       
        h3{
            font-family: $fuente-logo;
            display: inline-block;
            
            font-size: 18px;
            padding: 0;
        }
        select{
            background: transparent;
           border: 1px solid $fondo-hover-btn;
         
           font-size: 14px;
           height: 30px;
           padding: 5px;
           width: 180px;
            margin-left: 20px;
            &:focus{
                outline-color: none;
            }
        }
        input{
            margin-left: 10px;
            border: none;
            border-bottom: 2px solid red;
            width: 150px;
            text-align: center;
            
            font-size: 16px;
            &:focus{
                outline: none;
                outline-color: none;
            }
        }
        .boton{
            width: 120px;
            background: $fondo-hover-btn;
            font-family: $fuente-logo;
            font-weight: 300;
            font-size: 16px;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }
    }
}
}
    
