/* INDEX */

/* CONSULTAS */
.consultas{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    margin: 0 auto;
    margin-top: 15px;
    width: 98%;
    background: $fondo-noticias;
    .consultas-pedidos, .educacion,.servicios-sociales,.ciudad-sostenible,
    .servicio-vecino,.ciudad-seguro{  
        margin: 5px auto;
        color: white;
        height: 140px;
        display: block;
        position: relative;
        
      .titulo{
        font-size: 14px;
        font-family: $tipo-letra-menu;
          font-weight: 300;
        text-align: center;
        position: relative;
          margin-top: 10px;
          margin-bottom: 5px;
          top: 20px;
           transition: .5s ease;
          -moz-transition: .5s ease;
        //top: 4px;
        }.item1,.item2,.item3,.item4,.item5,.item6{
        //padding: 10px;
        margin-top: 0;
        margin-bottom: 10px;
        
    li{
        list-style: none;
        width: 95%;
        display: block;
        float: right;
        top: 0;
        margin-top: 0;
        a{
            font-family: $tipo-letra-menu;
            font-size: 12px;
            color: white;
            &:link{
                text-decoration: none;
            }
        }
    }
}
        .item2{
            margin-top: 15px;
        }
          width: 210px;
          background: #494947;
        }   
}

/* EFECTO */

.box-consult {
  position: relative;
  width: 50%;
     overflow: hidden;
}

.ak{
    background-position: center;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    
     opacity: 1;
    position: relative;
    margin: 0 auto;
    top: 15px;
    transition: .5s ease;
}

.icon1{
    background-image: url(../img/consult-1.png);
    
}
.icon2{
    background-image: url(../img/consult-2.png);
}
.icon3{
    background-image: url(../img/consult-3.png);
}

.icon4{
    background-image: url(../img/consult-4.png);
}

.icon5{
    background-image: url(../img/consult-5.png);
}

.icon6{
    background-image: url(../img/consult-6.png);
}

.item1,.item2,.item3,.item4,.item5,.item6 {
  position: absolute;
  //bottom: 0;
  left: 100%;
  //right: 0;
top: 30px;
    
  width: 100%;
  //height: 100%;
  transition: .5s ease;
}

.consultas-pedidos:hover .item1, .educacion:hover .item2,
.servicios-sociales:hover .item3, .ciudad-sostenible:hover .item4,
.servicio-vecino:hover .item5,.ciudad-seguro:hover .item6{
  width: 100%;
  left: 0;
}
.consultas-pedidos:hover .titulo, 
.educacion:hover .titulo,
.servicios-sociales:hover .titulo,
.ciudad-sostenible:hover .titulo,
.servicio-vecino:hover .titulo,
.ciudad-seguro:hover .titulo{
    
    top: 0;
     transition: .5s ease;
    text-decoration: underline;
}
.consultas-pedidos:hover .icon1,
.educacion:hover .icon2, 
.servicios-sociales:hover .icon3, 
.ciudad-sostenible:hover .icon4,
.servicio-vecino:hover .icon5,
.ciudad-seguro:hover .icon6{
    opacity: .3;
}
.consultas-pedidos li a:hover,.educacion li a:hover{
  
    //font-weight: 700;
    background: rgba(0,0,0,.4);
}
/*

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.sec-consul{
  text-align: center;
  img{
    margin-top: -52px;
  }
  
}
figure{
  margin: 0 auto;
  width: 940px;
  img{
    
  }
}
*/

/* EDUCACION */
.consultas{
    height: 100%;
.educacion{
    margin: 10px auto;
     width: 210px;
  //height: 130px;
  background: #494947;
    h1{
    font-size: 14px;
    font-family: $tipo-letra-menu;
    color: white;
    text-align: center;
    position: relative;
    top: 4px; 
        margin-top: 10px;
        
    }
    .item2{
       height: 90px;
    li{
        list-style: none;
        width: 95%;
        display: block;
        float: right;
        top: 0;
        margin-top: 0;
        a{
            font-family: $tipo-letra-menu;
            font-size: 12px;
            color: white;
            &:link{
                text-decoration: none;
            }
        }
    }
}
}
}
/* PAGINA TRAMITE DOCUMENTARIO */
.content{
    top: 0;
    margin: 10px 0 0 0;
  background: white;
  height: auto;
    max-height: 520px;
  figure{
    margin-top: 10px;
      width: 100%;
      max-width: 940px;
      height: auto;
    img{
    width: 100%;
    }
  }
  h1{
    color: $color-letra-logo;
    font-family: $fuente-logo;
    font-size: 18px;
      margin-left: 20px;
  }
    .formulario{
        .tipo{
            display: block;
            text-align: center;
            //margin-left: 40px;
        }
        .anio{
           display: block;
            text-align: center;
            //margin-left: 40px;
        }
        .nro{
            display: block;
            text-align: center;
            //margin-left: 40px;
        }
       
    form{
       
        h3{
            font-family: $fuente-logo;
            display: inline-block;
            
            font-size: 18px;
            padding: 0;
        }
        select{
            background: transparent;
           border: 1px solid $fondo-hover-btn;
         
           font-size: 14px;
           height: 30px;
           padding: 5px;
           width: 180px;
            margin-left: 20px;
            &:focus{
                outline-color: none;
            }
        }
        input{
            margin-left: 10px;
            border: none;
            border-bottom: 2px solid red;
            width: 150px;
            text-align: center;
            
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
        .boton{
            width: 120px;
            background: $fondo-btn;
            font-family: $fuente-logo;
            font-weight: 300;
            font-size: 16px;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            display: block;
            margin: 30px auto 20px auto;
            &:hover{
              background: $fondo-hover-btn;  
            }
        }
    }
}
}
.busqueda{
    margin: 0;
    padding: 0;
    height: 300px;
    background: green;
   h1{
       margin-top: 0;
       background: red;
    } 
}

/* EDUCACION */
.educacion{
    margin: 0 auto;
     width: 210px;
  height: 130px;
  background: #494947;
    h1{
    font-size: 14px;
    font-family: $tipo-letra-menu;
    color: white;
    text-align: center;
    position: relative;
    top: 4px; 
    }
    ul{
        padding: 0;
        margin: 0;
    li{
        list-style: none;
        width: 90%;
        display: block;
        float: right;
        a{
            font-family: $tipo-letra-menu;
            font-size: 12px;
        color: white;
            &:link{
                text-decoration: none;
            }
        }
    }
}
}
