@media only screen and (min-width:320px){
   body{
        background: url(../img/fondo-movil-480.png) no-repeat;
    }
    .slider-aviso{
        width: 100%;
        height: auto;
    .carousel, .carousel-inner > .item > img {
        margin: 0 auto;
        width: 100%;
        max-width: 420px;
        height: 280px;
        }
   
    }
    .box-facebook{
        width: 100%;
       .fb-page{
        width: 100%;  
           
        text-align: center;
        } 
    }
    .enla_exter{
        .logos-exter{
            img{
                width: 100%;
                max-width: 200px;
                
            }
        }
    }
    //seccion de enlaces externos
    .box-facebook{
        display: none;
        .fb-page{
            display: none;
        }
    }
    
}//min-width 320
@media only screen and (min-width:480px){
     body{
        background: url(../img/fondo-movil-640.png) no-repeat;
    }
    .logo{
        margin-top: 30px;
        margin-bottom: 30px;
        .escudo{
            img{
                
            }
        }
        h1{
            
        }
    }
}
@media only screen and (min-width:640px){
    
    body{
        background: url(../img/fondo-movil-768.png) no-repeat;
    }
    
    
    
    .logo{
        margin-top: 52px;
        margin-bottom: 52px;
        height: 156px;
        width: 280px;
        .escudo{
            img{
                
            }
        }
        h1{
            
        }
    }
    
    .slider-aviso{
        width: 100%;
        height: auto;
    .carousel, .carousel-inner > .item > img {
        margin: 0 auto;
        width: 100%;
        max-width: 620px;
        height: 360px;
        }
   
    }
}

@media only screen and (min-width:768px){
    body{
        background: url(../img/fondo.png) no-repeat;
        background-position: 0px 113px;
    }
    
    .mobile-menu{
        display: none;
    }
    .logo{
      background: none;
      width: 290px;
      margin-left: 32%;
      margin-top: 0;
        margin-bottom: 0;

        height: 66px;
  .escudo{
    width: 46px;
     
    float: left;
    img{
      
    }
  }
  .tituloLogo{
    float: left;
    width: 200px;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 20px;
    margin-right: 1px;
      margin-top: 18px;
      text-align: left;
  }
}
.heroMenu{
  
    display: block;
  margin: 0;
  
  padding: 0;
  text-align: right;
  
  .grupoImages{
    width: 440px;
    padding: 0;
    margin: 0 14px 0 auto;
    
    img{
      margin: 21px 0 0 -22px;
      padding: 0;
    }
    .itm3{
      display: none;
    }
      .itm5{
          display: none;
      }
      
      .itm4{
          display: none;
      }
  }
  .fndMenu{
    margin: 0;
     
      
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
      float: right;
      overflow: hidden;
    img{
        position: relative;
        display: inline-block;
        margin-right: -56.8%;
      vertical-align: baseline;
      //position: relative;
        
       
    }
  }
}
header
{
    .navegacion
    {
        display: block;
        margin-top: 10px;
        nav
        {
             margin: 0 auto;
        width: 640px;//650
        height: 35px;
            .subm{
                .fa-angle-right{
                    display: block;
                }
                .fa-angle-down{
                    display: none;
                }
            }
        .fondo-nav
        {
            top: 0;
            width: 650px; 
            margin-right: 0;
            margin-left: 0;
            height: 35px; 
            background: #fff;//fff
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -ms-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            transform: skew(-20deg);
            z-index: 250;
        }
        //UL PRINCIPAL
        ul
        {   
            width: 638px;
            list-style: none;
            position: relative;
            z-index: 260;
            display: flex;
            top: -35px;
            padding: 0;
            margin: 0 auto;
            left: 5px;
            >li
            {   
                flex: auto;
                float: left;
                background: white;
                font-size: 12px;
                a{
                    width: 100%;
                    padding: 9px 0;
                    text-align: center;
                    &:hover{
                        
                    }
                }
                &:hover .subm{
                    display: block; 
                }  
                &:hover .subm li{
                    display: block; 
                }    
            }
            li
            {   
                
                height: 35px;
                
                a
                {
                    display: inline-block;
                    color: $color-letra-menu;
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                    
                    &:hover{
                        background: $fondo-hover-menu;
                        color: $color-hover-letra;
                        -webkit-transition-duration: .3s;
                    }
                }
                //quienes somos y gerencias
                .subm
                {   position: absolute;
                    display: none;//Desactivar
                    background: white;
                    top: 100%;
                    left: 94px;
                    width: 162px;
                    padding: 0;
                    float: left;
                    >li
                    {  
                        text-align: left;
                        float: left;
                        a{
                            text-align: left;
                            &:hover{
                                background: $fondo-hover-menu;
                                color: white;
                                -webkit-transition-duration: .3s;
                            }
                        }
                        &:hover .subm-2{
                        -webkit-transition-duration: .3s;
                        display: block;
                        }  
                        &:hover .subm-2 li{
                        -webkit-transition-duration: .3s;
                        display: block; 
                        }
                        &:hover .subm-3{
                        -webkit-transition-duration: .3s;
                        display: block;
                        }  
                        &:hover .subm-3 li{
                        -webkit-transition-duration: .3s;
                        display: block;
                        } 
                    }
                    li{
                        background: white;
                        text-align: left;
                        //padding-left: 10px;
                        float: left;
                        width: 162px;
                        a{
                           padding-left: 10px;
                        padding-right: 0;
                        }
                        span{
                            width: 39px;
                            float: right;
                            i{
                                
                            }
                        }
                        .subm-2
                        {    position: absolute;
                            display: none;//desactivar
                            width: 145px;
                            top: 0;
                            padding: 0;
                            left: 162px;
                            li{
                                background: white;
                                width: 145px;
                                text-align: left;
                                
                                a{
                                    width: 100%;
                                  padding: 10px 15px;  
                                }
                                
                            }
                        }
                        .subm-3{
                            position: absolute;
                            display: none;
                            background: white;
                            width: 380px;
                            height: auto;
                            left: 162px;
                            top: 70px;
                            padding: 0;
                            li{
                                width: 100%;
                                a{
                                    padding: 10px 15px;
                                }
                            
                            }
                        }
                    }
                }
            }
            }
        
        }
    }
  

}
.slider-aviso{
    margin-top: 10px;
    height: 340px;
    .carousel, .carousel-inner > .item > img {
        margin: 0 auto;
        width: 100%;
        max-width: 640px;
        height: 340px;
        }
    .carousel{
    }
}  
/* SECCIÓN DE PRÓXIMOS EVENTOS */    
.owl-carousel-eventos{
        width: 90%;
    }
    
    
}//min-width:768px
@media only screen and (min-width:992px){
    .logo{
        margin-left: 50%;
        .escudo{
            
        }
        .tituloLogo{
            
        }
    }
    .heroMenu{
        .grupoImages{
            width: 650px;
            img{
                
            }
            .itm4{
                display: inline-block;
            }
        }
        .fndMenu{
            img{
              margin-right: -38%;
            }
        }
        
       
    }
    .slider-aviso{
        width: 100%;
        height: auto;
    .carousel, .carousel-inner > .item > img {
       
        width: 100%;
        max-width: 640px;
        height: 420px;
        }
   
    }
    
    
    //SECCIÓN NOTICIAS
    .owl-carousel{
        
    }
    
    //sección enlaces externos
    .enla_exter{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        //background: $fondo-alternativo;
        .logos-exter{
            width: 80%;
            margin: 0 auto;
                img{
                vertical-align: middle;
                    width: 300px;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    margin: 10px;
            }
            .log1{
                
            }
            .log2{
                
            }
            .log3{
                
            }
            .log4{
                
            }
            .log5{
                
            }
        }
        
    }
     //sección enlaces externo
       .enla_exter{
        .logos-exter{
            img{
             filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                transition-duration: .3s;
                &:hover{
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
                -moz-filter: grayscale(0);
                -ms-filter: grayscale(0);
                -o-filter: grayscale(0);
                }
                
            }
        }
    }
    
    
}
@media only screen and (min-width:1200px){
    .logo{
        margin-left: 42%;
        .escudo{
            
        }
        .tituloLogo{
            
        }
    }
    .heroMenu{
        .grupoImages{
            width: 780px;
            img{
                
            }
            .itm5{
                display: inline-block;
            }
        }
        .fndMenu{
            img{
                margin-right: -19.5%;
            }
        }
    }
    .box-noticias{
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    .slider-aviso{
        width: 100%;
        height: auto;
    .carousel, .carousel-inner > .item > img {
      float: right;
        width: 100%;
        max-width: 680px;
        
        /* max-width: 840px;
        height: 480px; */
        }
   
    }
    .box-facebook{
        width: 480px;
        .fb-page{
            width: 480px; //340 = 0 | 440px = 0 for my
        }
    }
    .box-facebook{
        display: block;
        .fb-page{
            display: block;
            text-align: left;
        }
    }
    
}//min-width(1200px)
@media only screen and (min-width:1440px){
    body{
        //background-position: top;
        //background-position: center;
        
        background-attachment: fixed;
        background-position: 0px 113px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        //width: 100%;
    }
    .logo{
        margin-left: 42%;
        .escudo{
            
        }
        .tituloLogo{
            
        }
        }
    .heroMenu{
        .grupoImages{
            
            width: 950px;
            img{
                
            }
            .itm3{
                display: inline-block;
            }
        }
        .fndMenu{
            
            img{
                margin-right: 0;
            }
        }
    }
     .box-noticias{
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
    }
}