@media only screen and (min-width:320px){
   body{
        background: url(../img/fondo-movil-480.png) no-repeat;
      }
}
    
@media only screen and (min-width:480px){
     body{
        background: url(../img/fondo-movil-640.png) no-repeat;
    }
    .logo{
        margin-top: 30px;
        margin-bottom: 30px;
        .escudo{
            img{
                
            }
        }
        h1{
            
        }
    }
}
@media only screen and (min-width:640px){
    
    .box-noticias{
        .center-slide{
            .news-slider{
                
            }
        }
    }
    
    body{
        background: url(../img/fondo-movil-768.png) no-repeat;
    }
    
    
    
    .logo{
        margin-top: 52px;
        margin-bottom: 52px;
        height: 156px;
        width: 280px;
        .escudo{
            img{
                
            }
        }
        h1{
            
        }
    }
}

@media only screen and (min-width:768px){
    body{
        background: url(../img/fondo.png) no-repeat;
        background-position: 0 113px;
        /*
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        */
    }
    
    .mobile-menu{
        display: none;
    }
    .logo{
  background: none;
  width: 290px;
  margin-left: 32%;
  margin-top: 0;
        margin-bottom: 0;
        
        height: 66px;
  .escudo{
    width: 46px;
     
    float: left;
    img{
      
    }
  }
  .tituloLogo{
    float: left;
    width: 200px;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 20px;
    margin-right: 1px;
      margin-top: 18px;
      text-align: left;
  }
}
.heroMenu{
  
    display: block;
  margin: 0;
  
  padding: 0;
  text-align: right;
  
  .grupoImages{
    width: 440px;
    padding: 0;
    margin: 0 14px 0 auto;
    
    img{
      margin: 21px 0 0 -22px;
      padding: 0;
    }
    .itm3{
      display: none;
    }
      .itm5{
          display: none;
      }
      
      .itm4{
          display: none;
      }
  }
  .fndMenu{
    margin: 0;
     
      
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
      float: right;
      overflow: hidden;
    img{
        position: relative;
        display: inline-block;
        margin-right: -56.8%;
      vertical-align: baseline;
      //position: relative;
        
       
    }
  }
}
header
{
    .navegacion
    {
        display: block;
        margin-top: 10px;
        nav
        {
             margin: 0 auto;
        width: 640px;//650
        height: 35px;
            .subm{
                .fa-angle-right{
                    display: block;
                }
                .fa-angle-down{
                    display: none;
                }
            }
        .fondo-nav
        {
            top: 0;
            width: 650px; 
            margin-right: 0;
            margin-left: 0;
            height: 35px; 
            background: #fff;//fff
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -ms-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            transform: skew(-20deg);
            z-index: 250;
        }
        //UL PRINCIPAL
        ul
        {   
            width: 638px;
            list-style: none;
            position: relative;
            z-index: 260;
            display: flex;
            top: -35px;
            padding: 0;
            margin: 0 auto;
            left: 5px;
            >li
            {   
                flex: auto;
                float: left;
                background: white;
                font-size: 12px;
                a{
                    width: 100%;
                    padding: 9px 0;
                    text-align: center;
                    &:hover{
                        
                    }
                }
                &:hover .subm{
                    display: block; 
                }  
                &:hover .subm li{
                    display: block; 
                }    
            }
            li
            {   
                
                height: 35px;
                
                a
                {
                    display: inline-block;
                    color: $color-letra-menu;
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                    
                    &:hover{
                        background: $fondo-hover-menu;
                        color: $color-hover-letra;
                        
                    }
                }
                //quienes somos y gerencias
                .subm
                {   position: absolute;
                    display: none;//Desactivar
                    background: white;
                    top: 100%;
                    left: 94px;
                    width: 162px;
                    padding: 0;
                    float: left;
                    >li
                    {  
                        text-align: left;
                        float: left;
                        a{
                            text-align: left;
                            &:hover{
                                background: $fondo-hover-menu;
                                color: white;
                            }
                        }
                        &:hover .subm-2{
                        display: block; 
                        }  
                        &:hover .subm-2 li{
                        display: block; 
                        }
                        &:hover .subm-3{
                        display: block; 
                        }  
                        &:hover .subm-3 li{
                        display: block; 
                        } 
                    }
                    li{
                        background: white;
                        text-align: left;
                        //padding-left: 10px;
                        float: left;
                        width: 162px;
                        a{
                           padding-left: 10px;
                        padding-right: 0;
                        }
                        span{
                            width: 39px;
                            float: right;
                            i{
                                
                            }
                        }
                        .subm-2
                        {    position: absolute;
                            display: none;//desactivar
                            width: 145px;
                            top: 0;
                            padding: 0;
                            left: 162px;
                            li{
                                background: white;
                                width: 145px;
                                text-align: left;
                                
                                a{
                                    width: 100%;
                                  padding: 10px 15px;  
                                }
                                
                            }
                        }
                        .subm-3{
                            position: absolute;
                            display: none;
                            background: white;
                            width: 380px;
                            height: auto;
                            left: 162px;
                            top: 70px;
                            padding: 0;
                            li{
                                width: 100%;
                                a{
                                    padding: 10px 15px;
                                }
                            
                            }
                        }
                    }
                }
            }
            }
        
        }
    }
  

}
    
}
@media only screen and (min-width:992px){
    .logo{
        margin-left: 50%;
        .escudo{
            
        }
        .tituloLogo{
            
        }
    }
    .heroMenu{
        .grupoImages{
            width: 650px;
            img{
                
            }
            .itm4{
                display: inline-block;
            }
        }
        .fndMenu{
            img{
              margin-right: -38%;
            }
        }
    }
    //MENU
    
    
    .post-slide{
          width: 100%;
        max-width: 278px;
        height: 235px;
        .post-content{
        position: relative;
        
        padding: 10px;
        z-index: 90;
        top: 0;
        height: 140px;
            
        }
        .efectoNoticias{
                       position: relative;
                        top: -10px;
                        z-index: 80;
                        opacity: 0;
                        display: none;
                        margin-top: 2px;
                        transition-duration: 0.4s;
                }
        .post-description{
            margin-top: 15px;
           margin-bottom: 10px; 
            line-height: 20px;
        }
        .post-bar{
            //top: 20px;
            margin-top: 10px;
             margin-bottom: 0; 
            li{
                margin-top: 5px;
            }
        }
        .read-more{
            
            position: absolute;
            
            bottom: 4%;
           
        }
    }
    
}
@media only screen and (min-width:1200px){
    .logo{
        margin-left: 42%;
        .escudo{
            
        }
        .tituloLogo{
            
        }
    }
    .heroMenu{
        .grupoImages{
            width: 780px;
            img{
                
            }
            .itm5{
                display: inline-block;
            }
        }
        .fndMenu{
            img{
                margin-right: -19.5%;
            }
        }
    }
}
@media only screen and (min-width:1440px){
    body{
        //background-position: top;
        //background-position: center;
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .logo{
        margin-left: 22%;
        .escudo{
            
        }
        .tituloLogo{
            
        }
        }
    .heroMenu{
        .grupoImages{
            width: 950px;
            img{
                
            }
            .itm3{
                display: inline-block;
            }
        }
        .fndMenu{
            
            img{
                margin-right: 0;
            }
        }
    }
}