.hero{
  //position: relative;
  overflow: hidden;
  .escudo-grocio{
    display: inline-block;
    .g-logo{
    margin-left: 52%;
      .logo{
        margin-top: 13px;

        img{
          float: left;
        }
      }
      .titulo{
        width: 210px;
        height: 48px;
        margin-left: 50px;
      }
      h1{

        float: right;
        margin-top: 17px;
        padding: 0;
        font-family: $fuente-logo;
        font-size: $size-logo;
        font-weight: $gruesor-logo;
        letter-spacing: -0.9px;
        color: $color-letra-logo;
      }
    }
  }
}

.images-menu{
  padding: 0;
  margin: 0;
  display: flex;
    align-items:flex-end;
  justify-content: flex-end;
  .heros{
    //align-items: center;
    margin-right: 1.5%;
    
    img{
      margin: 21px 0 0 -22px;
      padding: 0;
    
    }
  }
  
  .primero{
    margin-left: 0;
  }
  .quinto{
    
  }
  
  
}

/* MENU */
.menu-fondo{
    margin: 0;
    padding: 0;
    float: right;
  }

    
.menu{
  .arrow1{
    //position: relative;
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }
  .arrow2{
     margin-left: 20px;
  }
  .arrow3{
    margin-left: 57px;
  }
  
  .columna-menu{
    //padding: 0;
  }
  margin-top: 10px;
  .menu-global{
     float: right;
      margin: 0 8% 0 0;
    padding: 0;
    .fondo-nav{
    width: 650px; 
     height: 35px; 
     background: #fff;
     -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
     -ms-transform: skew(-20deg);
     -o-transform: skew(-20deg);
     transform: skew(-20deg);
    
      z-index: 10;
    }
    .menu{
      width: 650px;
      position: relative;
      z-index: 15;
      list-style: none; 
        //line-height: 100%;
      display: inline-block;
      text-align: center;
      top: -44.8px;
      
      li{
        float: left;
        position: relative;
        
         
        a{
          display: block;
          
          padding: 7.5px 20px 7.5px 20px;
          color: $color-letra-menu;
          font-weight: $gruesor-letra-menu;
          &:link{
            text-decoration: none;
          }
          &:hover{
            color: $color-hover-letra;
            background: $fondo-hover-menu;
          }
        }
      }
    }
   
    .subm{
    background: white;
      position: absolute;
      //display: block;
      width: 165px;
      left: 50%;
      margin-left: -40px;
      z-index: 17;
      padding: 0;
      //margin-top: 2px;
      
      opacity: 0;
      visibility: hidden;
     
    li{
      width: 100%;
      position: relative;
      //overflow: hidden;
      text-decoration: none;
      list-style: none;
      text-align: left;
      
      opacity: 0;
      visibility: hidden;
      
      transition: .2s ease transform;
   
      a{
        position: relative;
        color: $color-letra-menu;
        width: 100%;
        padding: 10px 0 10px 12px;
        
       // line-height: 100%;
      
      }
    }
  }
    .subm-2{
      position: absolute;
      background: white;
     left: 50%;
      margin-left: 83px;
      margin-top: -30px;
       text-align: left;
      padding: 0;
      width: 150px;
      
      opacity: 0;
      visibility: hidden;
      li{
       opacity: 0;
      visibility: hidden;
        a{
          
        }
      }
    }
    .subm-3{
      position: absolute;
      background: white;
     left: 50%;
      margin-left: 83px;
      margin-top: -30px;
       text-align: left;
      padding: 0;
      width: 300px;
      
      opacity: 0;
      visibility: hidden;
      li{
       opacity: 0;
      visibility: hidden;
        a{
          
        }
      }
    }
    
    .menu > li:hover .subm,
.menu > li:hover .subm li
    {
  opacity: 1;
  visibility: visible;
}	
    .subm > li:hover .subm-2,
    .menu > li:hover .subm-2 li{
      opacity: 1;
  visibility: visible;
    }
    .subm > li:hover .subm-3,
    .menu > li:hover .subm-3 li{
      opacity: 1;
  visibility: visible;
    }
  }
  
}

