body{
        background: url(../img/fondo-movil-320.png) no-repeat ;
        background-size: auto auto;
    
      }
 .logo{
      //text-align: center;
      //display: block;
    background: rgba(255, 255, 255, 0.95);
    padding: 0;
    margin: 15px auto 15px auto;
   // margin: 0 auto;
    width: 100%;
    height: 155px;
    
   
    .escudo{
        position: relative;
        top: 20px;
      margin-top: 10px;
      text-align: center;
      width: 100%;
        
      img{
        width: 35px;
        height: auto;
        margin: auto;
      }
    }
    .tituloLogo{
      font-size: 18px;
        font-family: $tipo-letra-menu;
        
      text-align: center;
      margin: 15px auto 0 auto;
      padding: 0;
      width: 80%;
        position: relative;
        top: 20px;
    }
  }
  .heroMenu{
    display: none;
  }
    header{
        .mobile-menu{
            margin-top: 0;
            top: 0;
            a{
                height: 50px;
                background-color: $fondo-movil-menu;
                width: 100%;
                color: $color-letra-menu;
                display: block;
                text-align: center;
                line-height: 50px;
                text-decoration: none;
                font-family: $fuente-logo;
                font-size: $size-letra-movil-menu;
                font-weight: $gruesor-letra-movil-menu;
                
                i{
                    color: $color-letra-menu;
                }
            }
            .mobile{
                
            }
        }
        .navegacion{
            display: none;
               
            nav{
                .fa-angle-right{
                    display: none;
                }
                i{
                    margin-left: 10px;
                }
                ul{
                    
                    background: white;
                 
                    list-style: none;
                       display: table;
                       margin: 0;
                       padding: 0;
                       width: 100%;
                   
                    >li{
                        background: $fondo-alternativo;
                        
                    
                        a{
                          font-family: $tipo-letra-menu;
                        width: 100%;
                            
                        text-align: left;
                        
                        }
                        
                    }
                    li{
                        
                        a{
                            color: $color-letra-menu;
                            //text-align: left;
                            padding: 10px 0 10px 10px;//40PX
                            display: block;
                            text-decoration: none;
                           
                        }
                        //float: left;
                        //display: block;
                        ul{
                            
                            display: none; //desactivar
                            top: 0;
                            >li{
                                background: #dde1db;
                            }
                            li{
                                a{
                                    padding-left: 30px;
                                }
                                ul{
                                    display: none; //desactivar
                                    >li{
                                        background: #c7cbc5;
                                    }
                                    li{
                                        a{
                                            padding-left: 60px;
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }    