.noticias{
  margin-top: -40px;//50 es el cero
  
  .box-noticias{
    width: 90%;
    height: 550px;
	background: $fondo-noticias;
    margin-left: 6%;
    .titulo-noticia{
	  height: 24px;

	  font-family: $fuente-noticias;
      font-weight: $gruesor-letra-titulo-noticia;
      font-size: $size-letra-titulo-noticia;
      color: $color-letra-noticia;
    }
    .linea{
      width: 140px;
      height: 2px;
      border: solid 1.2px $color-linea-titulo;
      margin-top: -14px;
    }
    .btn-noticia-global{
  display: block;
      
  margin: 25px auto 0 auto;
      
  width: 210px;
	height: 36px;

  .btn-noticias{
    
  }
  a{
    padding: 10px 30px;
    background: $fondo-btn;
    font-family: $fuente-btn;
    font-weight: $gruesor-letra-btn;
    font-size: $size-letra-btn;
    
    text-decoration: none;
    color: $color-letra-btn;
    &:hover{
      background: $fondo-hover-btn;
    }
  }
  
}
  }
}