
  .box-noticias{
      display: block;
      margin-top: 10px;
    width: 100%;
    height: 100%;
      max-height: 650px;
	background: $fondo-noticias;
      box-shadow: 2px 2px 15px rgba(0,0,0,.5);
    //margin-left: 2%;
      
    .titulo-noticia{
        display: inline-block;
        margin: 10px 0 0 30px;
	  height: 24px;
	  font-family: $fuente-noticias;
      font-weight: $gruesor-letra-titulo-noticia;
      font-size: $size-letra-titulo-noticia;
      color: $color-letra-noticia;
    }
    .linea{
      width: 140px;
      height: 2px;
      border: solid 1.2px $color-linea-titulo;
      margin-top: -4px;
        margin-left: 28px;
    }
    .btn-noticia-global{

    margin: 0 auto 10px auto;
    width: 210px;
	height: 36px;

  .btn-noticias{
  }
  a{
    padding: 10px 30px;
    background: $fondo-btn;
    font-family: $fuente-btn;
    font-weight: $gruesor-letra-btn;
    font-size: $size-letra-btn;
    
    text-decoration: none;
    color: $color-letra-btn;
    &:hover{
      background: $fondo-hover-btn;
    }
  }
  
}
  }
@media only screen and (min-width: 1200px){
    .box-noticias{
        margin-top: 30px;
    }
}