/*
Los cambios están en las medias queries.
*/
.box-facebook{
    
    margin-top: 10px;
    text-align: left;
    .fb-page{
        margin-left: 10px;
        height: 420px;
        overflow: hidden;
    }
}