//  LOGO
$fuente-logo: 'Raleway', sans-serif;
$hover-logo: #494947;
$color-letra-logo: #494947;
$gruesor-logo: 200;
$size-logo: 20px;


// MENU
$color-letra-menu: #494947;
$fondo-hover-menu: #494947;
$gruesor-letra-menu: 300;
$color-hover-letra: white;
$tipo-letra-menu: 'Raleway', sans-serif;
$size-letra-menu: 13px;



//noticias
$fondo-noticias: rgba(243,247,240,.8);
$fuente-noticias: 'Roboto', sans-serif;
$gruesor-letra-titulo-noticia: 700;
$size-letra-titulo-noticia:18px;
$color-letra-noticia: #494947;
$color-linea-titulo: #494947;
  //boton 'leer más'
  $fondo-btn: rgba(255, 92, 67, 1);
  $color-letra-btn: white;
  $fondo-hover-btn: rgba(255, 92, 67, 0.8);
  $fuente-btn: 'Raleway', sans-serif;
  $gruesor-letra-btn: 300;
  $size-letra-btn: 14px;
  //slider noticas
  $fuente-slider: 'Roboto', sans-serif;
  $gruesor-letra-slider: 300;
  $hover-titulo-slider-noticias: #979797;
  $color-letra-slider-noticias: #676767;
  $color-letra-fecha: #676767;
  $color-letra-categoria:#676767;
  $color-hover-categoria: #3d3030;
  //titulo de noticias
  $gruesor-titulo-slider: 700;
  //descripción
  $size-letra-descripcion: 14px;
  $gruesor-descripcion: 300;
  //boton 'leer más'
  $size-letra-btn-leerMas: 14px;
  $gruesor-btn-slider: 700;

  $fondo-btn-slider:#494947;
  $color-letra-btn-slider: #fff;
  $hover-btn-slider:#8f8f8f;

 

  