.hero {
  overflow: hidden; }
  .hero .escudo-grocio {
    display: inline-block; }
    .hero .escudo-grocio .g-logo {
      margin-left: 32%; }
      .hero .escudo-grocio .g-logo .logo {
        margin-top: 13px; }
        .hero .escudo-grocio .g-logo .logo img {
          float: left; }
      .hero .escudo-grocio .g-logo .titulo {
        width: 210px;
        height: 48px;
        margin-left: 50px; }
      .hero .escudo-grocio .g-logo h1 {
        float: right;
        margin-top: 17px;
        padding: 0;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -0.9px;
        color: #494947; }

.images-menu {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }
  .images-menu .heros {
    margin-right: 1.5%; }
    .images-menu .heros img {
      margin: 21px 0 0 -22px;
      padding: 0; }
  .images-menu .primero {
    margin-left: 0; }

.menu-fondo {
  margin: 0;
  padding: 0;
  float: right; }

.menu {
  margin-top: 10px; }
  .menu .menu-global {
    float: right;
    margin: 0 8% 0 0;
    padding: 0; }
    .menu .menu-global .fondo-nav {
      width: 650px;
      height: 35px;
      background: #fff;
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transform: skew(-20deg);
      z-index: 10; }
    .menu .menu-global ul {
      width: 650px;
      position: relative;
      z-index: 15;
      list-style: none;
      display: inline-block;
      text-align: center;
      top: -27px; }
      .menu .menu-global ul li {
        display: inline-block;
        list-style: none; }
        .menu .menu-global ul li a {
          padding: 9.5px 20px 9px 20px;
          color: #494947;
          font-weight: 300; }
          .menu .menu-global ul li a:link {
            text-decoration: none; }
          .menu .menu-global ul li a:hover {
            color: white;
            background: #494947; }

.slider .carousel {
  width: 680px;
  height: 260px;
  margin: auto;
  top: -20px; }

.noticias {
  margin-top: -5px; }
  .noticias .box-noticias {
    width: 90%;
    height: 550px;
    background: rgba(243, 247, 240, 0.8);
    margin-left: 6%; }
    .noticias .box-noticias .titulo-noticia {
      height: 24px;
      font-family: Roboto;
      font-size: 18px;
      color: #494947; }
    .noticias .box-noticias .linea {
      width: 140px;
      height: 2px;
      border: solid 1.2px #494947;
      margin-top: -14px; }
    .noticias .box-noticias .btn-noticia-global {
      display: block;
      margin: auto;
      width: 210px;
      height: 36px; }
      .noticias .box-noticias .btn-noticia-global a {
        padding: 7px 30px;
        background: #ff5c43;
        text-decoration: none;
        color: white; }
        .noticias .box-noticias .btn-noticia-global a:hover {
          background: rgba(255, 92, 67, 0.8); }

.post-slide {
  margin: 21px 15px; }

.post-slide .post-img {
  overflow: hidden; }

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 1s ease-in-out 0s; }

.post-slide:hover .post-img img {
  transform: scale(1.08); }

.post-slide .post-content {
  background: #fff;
  padding: 20px; }

.post-slide .post-title {
  font-size: 17px;
  font-weight: 600;
  margin-top: 0;
  text-transform: capitalize; }

.post-slide .post-title a {
  display: inline-block;
  color: #808080;
  transition: all 0.3s ease 0s; }

.post-slide .post-title a:hover {
  color: #3d3030;
  text-decoration: none; }

.post-slide .post-description {
  font-size: 15px;
  color: #676767;
  line-height: 24px;
  margin-bottom: 14px; }

.post-slide .post-bar {
  padding: 0;
  margin-bottom: 15px;
  list-style: none; }

.post-slide .post-bar li {
  color: #676767;
  padding: 2px 0; }

.post-slide .post-bar li i {
  margin-right: 5px; }

.post-slide .post-bar li a {
  display: inline-block;
  font-size: 12px;
  color: #808080;
  transition: all 0.3s ease 0s; }

.post-slide .post-bar li a:after {
  content: ","; }

.post-slide .post-bar li a:last-child:after {
  content: ""; }

.post-slide .post-bar li a:hover {
  color: #3d3030;
  text-decoration: none; }

.post-slide .read-more {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #494947;
  border-bottom-right-radius: 10px;
  text-transform: capitalize;
  transition: all 0.30s linear; }

.post-slide .read-more:hover {
  background: #8f8f8f;
  text-decoration: none; }

@media screen and (max-width: 1366px) {
  .hero .escudo-grocio .g-logo {
    margin-left: 20%; } }
@media screen and (max-width: 1280px) {
  .hero .escudo-grocio .g-logo {
    margin-top: 25px; }
    .hero .escudo-grocio .g-logo .logo img {
      width: 38px; }
    .hero .escudo-grocio .g-logo .titulo {
      width: 160px;
      margin-left: 45px; }
    .hero .escudo-grocio .g-logo h1 {
      margin-top: 15px;
      font-size: 16px; } }
@media screen and (max-width: 1200px) {
  .images-menu .heros img {
    width: 160px; }

  .fondomenu .menu-fondo {
    margin-right: -15.9%; }

  .hero .escudo-grocio .g-logo {
    margin-left: 35%;
    margin-top: 15px; }
    .hero .escudo-grocio .g-logo .logo img {
      width: 38px; }
    .hero .escudo-grocio .g-logo .titulo {
      width: 160px;
      margin-left: 45px; }
    .hero .escudo-grocio .g-logo h1 {
      margin-top: 15px;
      font-size: 16px; }

  header .menu-global {
    margin: 0 5% 0 0; } }
@media screen and (max-width: 1160px) {
  .fondomenu .menu-fondo {
    margin-right: -16.5%; } }
@media screen and (max-width: 1110px) {
  .fondomenu .menu-fondo {
    margin-right: -17.2%; } }
@media screen and (max-width: 1070px) {
  .images-menu .heros img {
    width: 145px;
    margin-left: -18px; }

  .fondomenu .menu-fondo {
    margin-right: -23%; } }
@media screen and (max-width: 1050px) {
  .fondomenu .menu-fondo {
    margin-right: -23.9%; } }
@media screen and (max-width: 1000px) {
  .fondomenu .menu-fondo {
    margin-right: -24.5%; } }
body {
  background: url(../img/fondo.png) no-repeat center center;
  background-position: 0 113px;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (max-width: 1200px) {
  body {
    background-position: 0 96px; } }
@media screen and (max-width: 1070px) {
  body {
    background-position: 0 89px; } }
.row {
  margin-right: 0;
  margin-left: 0; }
  .row:before {
    display: block; }

/*
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after{
  clear: none;
}*/

/*# sourceMappingURL=style.css.map */
