@import "menu";
@import "slider";
@import "noticias";
@import "slider-noticias";


@import "media-queries";

//Colores

body{
  background: url(../img/fondo.png)no-repeat center center ;
 
  
  //position: relative; 
    
  background-position: 0 113px;
  webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  //width: 100%;
    //background-attachment: fixed; 
	//background-size: cover; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
}
@media screen and (max-width: 1200px){
  body{
    background-position: 0 96px;
  }
}
@media screen and (max-width: 1070px){
  body{
    background-position: 0 89px;
  }
}


.row{
  margin-right: 0;
  margin-left: 0;
  &:before{
    display: block;
  }
}
/*
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after{
  clear: none;
}*/