@import "menu";
@import "slider";
@import "noticias";
@import "slider-noticias";


@import "media-queries";

//Colores

body{
  background: url(../img/fondo.png)no-repeat center center ;
  background-position: 0 113px;
  width: 100%;
    //background-attachment: fixed; 
	//background-size: cover; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
  overflow: hidden;
}
//preload
#preload{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
  .conPreload{
    margin-top: 20%;
    text-align: center;
    img{
  }
  p{
    
  }
    // Remember to include browser prefixes when copying this CSS to modify for your own Sequence theme

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #F96D38;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #F96D38;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}
    
    
  }
  
}
#fondoCarga{

}


@media screen and (min-width: 1441px){
  body{ -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
 
}
@media screen and (max-width: 1200px){
  body{
    background-position: 0 96px;
  }
}
@media screen and (max-width: 1070px){
  body{
    background-position: 0 89px;
  }
}


.row{
  margin-right: 0;
  margin-left: 0;
  &:before{
    display: block;
  }
}
/*
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after{
  clear: none;
}*/