@charset "UTF-8";
.row {
  margin-right: 0;
  margin-left: 0;
  /*
  &:before{
    display: block;
  }
  */ }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0; }

.container-fluid {
  padding: 0; }

body {
  background: url(../img/fondo-movil-320.png) no-repeat;
  background-size: auto auto; }

.logo {
  background: rgba(255, 255, 255, 0.95);
  padding: 0;
  margin: 15px auto 15px auto;
  width: 100%;
  height: 155px; }
  .logo .escudo {
    position: relative;
    top: 20px;
    margin-top: 10px;
    text-align: center;
    width: 100%; }
    .logo .escudo img {
      width: 35px;
      height: auto;
      margin: auto; }
  .logo .tituloLogo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 15px auto 0 auto;
    padding: 0;
    width: 80%;
    position: relative;
    top: 20px; }

.heroMenu {
  display: none; }

header .mobile-menu {
  margin-top: 0;
  top: 0; }
  header .mobile-menu a {
    height: 50px;
    background-color: #fff;
    width: 100%;
    color: #494947;
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 300; }
    header .mobile-menu a i {
      color: #494947; }
header .navegacion {
  display: none; }
  header .navegacion nav .fa-angle-right {
    display: none; }
  header .navegacion nav i {
    margin-left: 10px; }
  header .navegacion nav ul {
    background: white;
    list-style: none;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%; }
    header .navegacion nav ul > li {
      background: #f3f7f0; }
      header .navegacion nav ul > li a {
        font-family: "Raleway", sans-serif;
        width: 100%;
        text-align: left; }
    header .navegacion nav ul li a {
      color: #494947;
      padding: 10px 0 10px 10px;
      display: block;
      text-decoration: none; }
    header .navegacion nav ul li ul {
      display: none;
      top: 0; }
      header .navegacion nav ul li ul > li {
        background: #dde1db; }
      header .navegacion nav ul li ul li a {
        padding-left: 30px; }
      header .navegacion nav ul li ul li ul {
        display: none; }
        header .navegacion nav ul li ul li ul > li {
          background: #c7cbc5; }
        header .navegacion nav ul li ul li ul li a {
          padding-left: 60px; }

/* 
SECCIÓN NOTICIAS */
.box-noticias {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  max-height: 650px;
  background: rgba(243, 247, 240, 0.2);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); }
  .box-noticias .titulo-noticia {
    display: inline-block;
    margin: 10px 0 0 30px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #494947; }
  .box-noticias .linea {
    width: 140px;
    height: 2px;
    background: #494947;
    border: solid 1.2px #494947;
    margin-top: -4px;
    margin-left: 28px; }
  .box-noticias .btn-noticia-global {
    margin: 0 auto 10px auto;
    width: 210px;
    height: 36px; }
    .box-noticias .btn-noticia-global a {
      padding: 10px 30px;
      background: #ff5c43;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 14px;
      text-decoration: none;
      color: white; }
      .box-noticias .btn-noticia-global a:hover {
        background: rgba(255, 92, 67, 0.8); }
  .box-noticias .post-slide {
    width: 100%;
    max-width: 278px;
    height: auto; }
    .box-noticias .post-slide .post-content {
      position: relative;
      padding: 10px;
      z-index: 90;
      top: 0;
      max-height: 350px; }
    .box-noticias .post-slide .efectoNoticias {
      z-index: 80;
      display: block;
      margin-top: 2px;
      transition-duration: 0.4s; }
    .box-noticias .post-slide .post-description {
      margin-top: 15px;
      margin-bottom: 10px;
      line-height: 20px; }
    .box-noticias .post-slide .post-bar {
      margin-top: 10px;
      margin-bottom: 0; }
      .box-noticias .post-slide .post-bar li {
        margin-top: 5px; }
    .box-noticias .post-slide .read-more {
      display: block;
      width: 100px;
      bottom: 4%; }

/*
.post-slide{
          width: 100%;
        max-width: 278px;
        height: 235px;
        .post-content{
        position: relative;
        
        padding: 10px;
        z-index: 90;
        top: 0;
        height: 140px;
            
        }
        .efectoNoticias{
                       position: relative;
                        top: -10px;
                        z-index: 80;
                        opacity: 0;
                        display: none;
                        margin-top: 2px;
                        transition-duration: 0.4s;
                }
        .post-description{
            margin-top: 15px;
           margin-bottom: 10px; 
            line-height: 20px;
        }
        .post-bar{
            //top: 20px;
            margin-top: 10px;
             margin-bottom: 0; 
            li{
                margin-top: 5px;
            }
        }
        .read-more{
            
            position: absolute;
            
            bottom: 4%;
           
        }
    }
*/
.owl-carousel {
  margin: 0 0 10px 0;
  overflow: hidden; }

.post-slide {
  margin: 10px 10px;
  font-family: "Raleway", sans-serif; }
  .post-slide .post-img {
    overflow: hidden; }
    .post-slide .post-img img {
      position: relative;
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: all 1s ease-in-out 0s;
      z-index: 92; }
      .post-slide .post-img img:hover {
        transform: scale(1.08); }
  .post-slide .post-content {
    position: relative;
    background: rgba(243, 247, 240, 0.8);
    padding: 15px;
    top: 0; }
  .post-slide .post-title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0;
    width: 100%;
    height: auto;
    max-width: 235px;
    position: relative;
    z-index: 91; }
    .post-slide .post-title a {
      display: inline-block;
      color: #494947;
      transition: all 0.3s ease 0s; }
      .post-slide .post-title a:hover {
        color: #979797;
        text-decoration: none; }
  .post-slide .post-description {
    font-size: 14px;
    color: #676767;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 14px; }
  .post-slide .post-bar {
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
    position: relative; }
    .post-slide .post-bar li {
      color: color-letra-fecha;
      padding: 2px 0; }
      .post-slide .post-bar li i {
        color: color-letra-fecha;
        padding: 2px 0; }
      .post-slide .post-bar li a {
        display: inline-block;
        font-size: 12px;
        color: #676767;
        transition: all 0.3s ease 0s; }
        .post-slide .post-bar li a:hover {
          color: #3d3030;
          text-decoration: none; }
  .post-slide .read-more {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #494947;
    border-bottom-right-radius: 10px;
    text-transform: capitalize;
    transition: all 0.30s linear; }
    .post-slide .read-more:hover {
      background: #8f8f8f;
      text-decoration: none; }

@media only screen and (min-width: 320px) {
  body {
    background: url(../img/fondo-movil-480.png) no-repeat; }

  .slider-aviso {
    width: 100%;
    height: auto; }
    .slider-aviso .carousel, .slider-aviso .carousel-inner > .item > img {
      margin: 0 auto;
      width: 100%;
      max-width: 420px;
      height: 280px; } }
@media only screen and (min-width: 480px) {
  body {
    background: url(../img/fondo-movil-640.png) no-repeat; }

  .logo {
    margin-top: 30px;
    margin-bottom: 30px; } }
@media only screen and (min-width: 640px) {
  body {
    background: url(../img/fondo-movil-768.png) no-repeat; }

  .logo {
    margin-top: 52px;
    margin-bottom: 52px;
    height: 156px;
    width: 280px; }

  .slider-aviso {
    width: 100%;
    height: auto; }
    .slider-aviso .carousel, .slider-aviso .carousel-inner > .item > img {
      margin: 0 auto;
      width: 100%;
      max-width: 620px;
      height: 360px; } }
@media only screen and (min-width: 768px) {
  body {
    background: url(../img/fondo.png) no-repeat;
    background-position: 0px 113px; }

  .mobile-menu {
    display: none; }

  .logo {
    background: none;
    width: 290px;
    margin-left: 32%;
    margin-top: 0;
    margin-bottom: 0;
    height: 66px; }
    .logo .escudo {
      width: 46px;
      float: left; }
    .logo .tituloLogo {
      float: left;
      width: 200px;
      font-family: 'Raleway';
      font-weight: 200;
      font-size: 20px;
      margin-right: 1px;
      margin-top: 18px;
      text-align: left; }

  .heroMenu {
    display: block;
    margin: 0;
    padding: 0;
    text-align: right; }
    .heroMenu .grupoImages {
      width: 440px;
      padding: 0;
      margin: 0 14px 0 auto; }
      .heroMenu .grupoImages img {
        margin: 21px 0 0 -22px;
        padding: 0; }
      .heroMenu .grupoImages .itm3 {
        display: none; }
      .heroMenu .grupoImages .itm5 {
        display: none; }
      .heroMenu .grupoImages .itm4 {
        display: none; }
    .heroMenu .fndMenu {
      margin: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      float: right;
      overflow: hidden; }
      .heroMenu .fndMenu img {
        position: relative;
        display: inline-block;
        margin-right: -56.8%;
        vertical-align: baseline; }

  header .navegacion {
    display: block;
    margin-top: 10px; }
    header .navegacion nav {
      margin: 0 auto;
      width: 640px;
      height: 35px; }
      header .navegacion nav .subm .fa-angle-right {
        display: block; }
      header .navegacion nav .subm .fa-angle-down {
        display: none; }
      header .navegacion nav .fondo-nav {
        top: 0;
        width: 650px;
        margin-right: 0;
        margin-left: 0;
        height: 35px;
        background: #fff;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
        z-index: 250; }
      header .navegacion nav ul {
        width: 638px;
        list-style: none;
        position: relative;
        z-index: 260;
        display: flex;
        top: -35px;
        padding: 0;
        margin: 0 auto;
        left: 5px; }
        header .navegacion nav ul > li {
          flex: auto;
          float: left;
          background: white;
          font-size: 12px; }
          header .navegacion nav ul > li a {
            width: 100%;
            padding: 9px 0;
            text-align: center; }
          header .navegacion nav ul > li:hover .subm {
            display: block; }
          header .navegacion nav ul > li:hover .subm li {
            display: block; }
        header .navegacion nav ul li {
          height: 35px; }
          header .navegacion nav ul li a {
            display: inline-block;
            color: #494947;
            text-decoration: none;
            width: 100%;
            text-align: center; }
            header .navegacion nav ul li a:hover {
              background: #494947;
              color: white; }
          header .navegacion nav ul li .subm {
            position: absolute;
            display: none;
            background: white;
            top: 100%;
            left: 94px;
            width: 162px;
            padding: 0;
            float: left; }
            header .navegacion nav ul li .subm > li {
              text-align: left;
              float: left; }
              header .navegacion nav ul li .subm > li a {
                text-align: left; }
                header .navegacion nav ul li .subm > li a:hover {
                  background: #494947;
                  color: white; }
              header .navegacion nav ul li .subm > li:hover .subm-2 {
                display: block; }
              header .navegacion nav ul li .subm > li:hover .subm-2 li {
                display: block; }
              header .navegacion nav ul li .subm > li:hover .subm-3 {
                display: block; }
              header .navegacion nav ul li .subm > li:hover .subm-3 li {
                display: block; }
            header .navegacion nav ul li .subm li {
              background: white;
              text-align: left;
              float: left;
              width: 162px; }
              header .navegacion nav ul li .subm li a {
                padding-left: 10px;
                padding-right: 0; }
              header .navegacion nav ul li .subm li span {
                width: 39px;
                float: right; }
              header .navegacion nav ul li .subm li .subm-2 {
                position: absolute;
                display: none;
                width: 145px;
                top: 0;
                padding: 0;
                left: 162px; }
                header .navegacion nav ul li .subm li .subm-2 li {
                  background: white;
                  width: 145px;
                  text-align: left; }
                  header .navegacion nav ul li .subm li .subm-2 li a {
                    width: 100%;
                    padding: 10px 15px; }
              header .navegacion nav ul li .subm li .subm-3 {
                position: absolute;
                display: none;
                background: white;
                width: 380px;
                height: auto;
                left: 162px;
                top: 70px;
                padding: 0; }
                header .navegacion nav ul li .subm li .subm-3 li {
                  width: 100%; }
                  header .navegacion nav ul li .subm li .subm-3 li a {
                    padding: 10px 15px; }

  .slider-aviso {
    margin-top: 10px;
    height: 340px; }
    .slider-aviso .carousel, .slider-aviso .carousel-inner > .item > img {
      margin: 0 auto;
      width: 100%;
      max-width: 640px;
      height: 340px; }

  /* SECCIÓN DE PRÓXIMOS EVENTOS */
  .owl-carousel-avisos {
    width: 90%; } }
@media only screen and (min-width: 992px) {
  .logo {
    margin-left: 50%; }

  .heroMenu .grupoImages {
    width: 650px; }
    .heroMenu .grupoImages .itm4 {
      display: inline-block; }
  .heroMenu .fndMenu img {
    margin-right: -38%; }

  .slider-aviso {
    width: 100%;
    height: auto; }
    .slider-aviso .carousel, .slider-aviso .carousel-inner > .item > img {
      width: 100%;
      max-width: 640px;
      height: 400px; }

  .post-slide {
    width: 100%;
    max-width: 278px; }
    .post-slide .post-content {
      position: relative;
      padding: 10px;
      z-index: 90;
      top: 0;
      height: 160px; }
    .post-slide .efectoNoticias {
      position: relative;
      top: -10px;
      z-index: 80;
      opacity: 0;
      display: none;
      margin-top: 2px;
      transition-duration: 0.4s; }
    .post-slide .post-description {
      margin-top: 15px;
      margin-bottom: 10px;
      line-height: 20px; }
    .post-slide .post-bar {
      margin-top: 10px;
      margin-bottom: 0; }
      .post-slide .post-bar li {
        margin-top: 5px; }
    .post-slide .read-more {
      position: absolute;
      display: inline-block;
      bottom: 4%; } }
@media only screen and (min-width: 1200px) {
  .logo {
    margin-left: 42%; }

  .heroMenu .grupoImages {
    width: 780px; }
    .heroMenu .grupoImages .itm5 {
      display: inline-block; }
  .heroMenu .fndMenu img {
    margin-right: -19.5%; }

  .box-noticias {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    margin-left: 80px; }

  .slider-aviso {
    width: 100%;
    height: auto; }
    .slider-aviso .carousel, .slider-aviso .carousel-inner > .item > img {
      width: 100%;
      max-width: 840px;
      height: 480px; } }
@media only screen and (min-width: 1440px) {
  body {
    background-attachment: fixed;
    background-position: 0px 113px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .logo {
    margin-left: 42%; }

  .heroMenu .grupoImages {
    width: 950px; }
    .heroMenu .grupoImages .itm3 {
      display: inline-block; }
  .heroMenu .fndMenu img {
    margin-right: 0; }

  .box-noticias {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto; } }
/*
Los cambios están en las medias queries.
*/
.box-noticias {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  max-height: 650px;
  background: rgba(243, 247, 240, 0.2);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); }
  .box-noticias .titulo-noticia {
    display: inline-block;
    margin: 10px 0 0 30px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #494947; }
  .box-noticias .linea {
    width: 140px;
    height: 2px;
    background: #494947;
    border: solid 1.2px #494947;
    margin-top: -4px;
    margin-left: 28px; }
  .box-noticias .btn-noticia-global {
    margin: 0 auto 10px auto;
    width: 210px;
    height: 36px; }
    .box-noticias .btn-noticia-global a {
      padding: 10px 30px;
      background: #ff5c43;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 14px;
      text-decoration: none;
      color: white; }
      .box-noticias .btn-noticia-global a:hover {
        background: rgba(255, 92, 67, 0.8); }

@media only screen and (min-width: 1200px) {
  .box-noticias {
    margin-top: 30px; } }
/* SECCIÓN NOTICIAS*/
.box-evento {
  margin-top: 10px;
  background: #f3f7f0; }
  .box-evento .titulo-eventos {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: block;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px; }
  .box-evento .linea {
    width: 160px;
    height: 1px;
    background: #494947;
    border: solid 1.2px #494947;
    margin-top: -8px;
    margin-left: 28px; }

/* SLIDER */
.owl-carousel-avisos {
  margin: 0 auto 10px auto;
  overflow: hidden; }
  .owl-carousel-avisos .post-evento-slide {
    margin: 10px 10px;
    font-family: "Raleway", sans-serif;
    max-width: 200px; }
    .owl-carousel-avisos .post-evento-slide .post-img {
      overflow: hidden; }
      .owl-carousel-avisos .post-evento-slide .post-img img {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: all 1s ease-in-out 0s; }
        .owl-carousel-avisos .post-evento-slide .post-img img:hover {
          transform: scale(1.08); }
    .owl-carousel-avisos .post-evento-slide .post-content {
      position: relative;
      padding: 15px;
      top: 0; }
    .owl-carousel-avisos .post-evento-slide .post-title {
      font-size: 17px;
      font-weight: 700;
      margin-top: 0;
      width: 100%;
      height: auto;
      max-width: 235px;
      position: relative;
      z-index: 91; }
      .owl-carousel-avisos .post-evento-slide .post-title a {
        display: inline-block;
        color: #494947;
        transition: all 0.3s ease 0s; }
        .owl-carousel-avisos .post-evento-slide .post-title a:hover {
          color: #979797;
          text-decoration: none; }
    .owl-carousel-avisos .post-evento-slide .post-bar {
      padding: 0;
      margin-bottom: 15px;
      list-style: none;
      position: relative; }
      .owl-carousel-avisos .post-evento-slide .post-bar li {
        color: color-letra-fecha;
        padding: 2px 0; }
        .owl-carousel-avisos .post-evento-slide .post-bar li a {
          display: inline-block;
          font-size: 12px;
          color: #676767;
          transition: all 0.3s ease 0s; }
          .owl-carousel-avisos .post-evento-slide .post-bar li a:hover {
            color: #3d3030;
            text-decoration: none; }

/*
.post-slide .post-img{
    overflow: hidden;
}
.post-slide .post-img img{
   position: relative;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
    z-index: 92;
}
.post-slide:hover{
  //box-shadow: 2px #000; 
}
.post-slide:hover .post-img img{
    transform: scale(1.08);
}
.post-slide .post-content{
    position: relative;
    background:  rgba(243,247,240,.8);
   padding: 15px;
    top: 0;
    
    //top: -130px;
}
.post-slide .post-title{
    font-size: 17px;
    font-weight: $gruesor-titulo-slider;
    margin-top: 0;
    width: 100%;
    height: auto;
    max-width: 235px;
    
    position: relative;
    z-index: 91;
}
.post-slide .post-title a{
    display: inline-block;
    color: $color-letra-noticia;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    color: $hover-titulo-slider-noticias;
    text-decoration: none;
}
.post-slide .post-description{
    font-size:$size-letra-descripcion;
    color: $color-letra-slider-noticias;
  font-weight: $gruesor-descripcion;
    line-height: 24px;
    margin-bottom: 14px;
    
}
.efectoNoticias{

   
}
.post-slide .post-bar{
    //fecha y categoria
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
    
}
.post-slide .post-bar li{
    color: color-letra-fecha;
    padding: 2px 0;
}
.post-slide .post-bar li i{
    margin-right: 5px;
}
.post-slide .post-bar li a{
    display: inline-block;
    font-size: 12px;
    color: $color-letra-categoria;
    transition: all 0.3s ease 0s;
}
.post-slide .post-bar li a:after{
    content: ",";
}
.post-slide .post-bar li a:last-child:after{
    content: "";
}
.post-slide .post-bar li a:hover{
    color: $color-hover-categoria;
    text-decoration: none;
}
.post-slide .read-more{
    display: inline-block;
    padding: 5px 15px;
    margin-top: 5px;
    font-size: $size-letra-btn-leerMas;
    font-weight: $gruesor-btn-slider;
    color: $color-letra-btn-slider;
    background: $fondo-btn-slider;
    border-bottom-right-radius: 10px;
    text-transform: capitalize;
    transition: all 0.30s linear;
}
.post-slide .read-more:hover{
    background: $hover-btn-slider;
    text-decoration: none;
}
*/
.frametrans {
  margin: 0 auto;
  width: 100%;
  height: 1880px;
  display: block;
  position: relative;
  z-index: 80;
  background: white;
  top: -100px; }

.ocult {
  position: relative;
  width: 100%;
  height: 110px;
  padding: 0;
  margin-top: 0;
  background: red;
  z-index: 90; }
  .ocult .contenedor-imagen {
    width: 100%;
    max-width: 940px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2%; }
    .ocult .contenedor-imagen .hero-trans {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 100%;
      top: 20px; }

@media screen and (min-width: 768px) {
  .frametrans {
    margin: 0 auto;
    width: 100%;
    height: 1880px;
    display: block;
    z-index: 80;
    background: white;
    position: relative;
    top: -240px; }

  .ocult {
    position: relative;
    width: 100%;
    height: 250px;
    top: 0;
    margin-top: 0;
    background: white;
    z-index: 90; }
    .ocult .contenedor-imagen {
      width: 100%;
      max-width: 940px;
      height: 200px;
      display: block;
      margin: 0 auto;
      margin-top: 2%; }
      .ocult .contenedor-imagen .hero-trans {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 100%;
        top: 20px; } }
@media screen and (max-width: 1200px) {
  .ocult .contenedor-imagen {
    top: 0; }
    .ocult .contenedor-imagen .hero-trans {
      top: 0; } }
/* INDEX */
/* CONSULTAS */
.consultas {
  display: block; }
  .consultas .consultas-pedidos {
    margin: 0 auto;
    color: white;
    width: 210px;
    height: 130px;
    background: #494947; }
    .consultas .consultas-pedidos .titulo {
      font-size: 14px;
      font-family: "Raleway", sans-serif;
      text-align: center;
      position: relative;
      top: 4px; }
    .consultas .consultas-pedidos ul {
      padding: 0;
      margin: 0; }
      .consultas .consultas-pedidos ul li {
        list-style: none;
        width: 90%;
        display: block;
        float: right; }
        .consultas .consultas-pedidos ul li a {
          font-family: "Raleway", sans-serif;
          font-size: 12px;
          color: white; }
          .consultas .consultas-pedidos ul li a:link {
            text-decoration: none; }

.sec-consul {
  text-align: center; }
  .sec-consul img {
    margin-top: -52px; }

figure {
  margin: 0 auto;
  width: 940px; }

/* PAGINA TRAMITE DOCUMENTARIO */
.content {
  top: 0;
  margin: 10px 0 0 0;
  background: white;
  height: auto;
  max-height: 520px; }
  .content figure {
    margin-top: 10px;
    width: 100%;
    max-width: 940px;
    height: auto; }
    .content figure img {
      width: 100%; }
  .content h1 {
    color: #494947;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-left: 20px; }
  .content .formulario .tipo {
    display: block;
    text-align: center; }
  .content .formulario .anio {
    display: block;
    text-align: center; }
  .content .formulario .nro {
    display: block;
    text-align: center; }
  .content .formulario form h3 {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-size: 18px;
    padding: 0; }
  .content .formulario form select {
    background: transparent;
    border: 1px solid rgba(255, 92, 67, 0.8);
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 180px;
    margin-left: 20px; }
    .content .formulario form select:focus {
      outline-color: none; }
  .content .formulario form input {
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid red;
    width: 150px;
    text-align: center;
    font-size: 16px; }
    .content .formulario form input:focus {
      outline: none; }
  .content .formulario form .boton {
    width: 120px;
    background: #ff5c43;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    display: block;
    margin: 30px auto 20px auto; }
    .content .formulario form .boton:hover {
      background: rgba(255, 92, 67, 0.8); }

.busqueda {
  margin: 0;
  padding: 0;
  height: 300px;
  background: green; }
  .busqueda h1 {
    margin-top: 0;
    background: red; }

/* EDUCACION */
.educacion {
  margin: 0 auto;
  width: 210px;
  height: 130px;
  background: #494947; }
  .educacion h1 {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 4px; }
  .educacion ul {
    padding: 0;
    margin: 0; }
    .educacion ul li {
      list-style: none;
      width: 90%;
      display: block;
      float: right; }
      .educacion ul li a {
        font-family: "Raleway", sans-serif;
        font-size: 12px;
        color: white; }
        .educacion ul li a:link {
          text-decoration: none; }

/*# sourceMappingURL=style.css.map */
